body {
  padding: 0;
  background-color: rgb(136, 31, 31);
  color: rgb(0, 0, 0);
}

h1 {
  color: rgb(0, 0, 0);
}

figure {
  max-width: 60%;
  text-align: center;
}

img {
  max-width: 60%;
}

figcaption {
  font-size: small;
}